.photo-product {
  background-color: #fff;
  display: inline-block;
  height: 554px;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 157px;
}

@media (max-width: 1265px) {
  .photo-product {
    margin-right: 50px;
  }
}

@media (max-width: 1158px) {
  .photo-product {
    position: relative;
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .photo-product > img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}
