.search {
  float: left;
  margin-right: 65px;
}

.input-search {
  color: #fff;
  font-size: 20px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #fff;
  width: 360px;
}

/* mozila 18- */
.input-search:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

/* mozila 19- */
.input-search::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

/* Chrome, Safari, Opera */
.input-search::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

/* IE 10+ */
.input-search:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
