.wrap-product {
  display: inline-block;
  width: 554px;
  vertical-align: middle;
  position: relative;
}

.wrap-product > .buttons {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 98px));
}

@media (max-width: 1158px) {
  .wrap-product {
    position: static;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
  .wrap-product > .buttons {
    position: relative;
    transform: none;
    margin-top: 50px;
  }
}
